.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-thq-navigation-brand-accent-elm1 {
  color: var(--color-secondary);
  font-weight: 300;
}
 
.navigation-thq-navigation-brand-accent-elm2 {
  color: var(--color-secondary);
  font-weight: 300;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
